:root {
    --navFooter-BColor: rgb(0, 109, 128);
    --body-BColor: #f0f0f0;
    ;
}

* {
    margin: 0;
    padding: 0;
}

.App {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}